.search{
    margin-bottom: 50px;
}


.search .search__title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom : 20px;
    
}

.search__column__contents{
    margin-right: 20px;
    background-color: #EAF2FD;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search__column__contents .search__column__bg{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 24px;
    margin-bottom: 10px;
}
.search__column__icon{
    position: relative;
}
.bg__badge{
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: -13px;
    background-color:#FE2E6A;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg__title{
    position: absolute;
    top: 75px;
    color: white;
    right: 22px;
}

.search__column__explain{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}
.search__column{
    display: flex;
}

.search__column__icon a{
    font-size: 27px;
    color: #4F8BE2;
}